h1  {
  text-align: center;
  font-weight: bolder;
}

.panel  {
  margin-top: 20px;
}

#matt {
  max-width: 300px;
  float:right;
  margin-left: 10px;
}
/*put inline if I don't have any examples*/
#aboutHeader  {
  margin-bottom: 40px;
}

#hover  {
  background-image: linear-gradient(to bottom, white, white);
}

.hello {
  color: #6699cc;
}

.hello:hover  {
  text-decoration: underline;
  color: #6699cc;
}

.glyphicon  {
  font-size: 3em;
  color: #6699cc;
}
